<input-detector></input-detector>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <img src="../assets/deluge.svg" style="
          height: 100%;
          display: inline;
          vertical-align: bottom;" />
        Downpour
      </a>
    </div>
    <div class='collapse navbar-collapse' id='navigation' *ngIf='state.authenticated'>
      <ul class='navbar-nav nav'>
        <li routerLinkActive="active">
          <a routerLink="/torrents">Torrents</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="add">Add Torrent</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="configuration">Configuration</a>
        </li>
      </ul>

      <div *ngIf='state.state.connected'>
        <div class='navbar-text navbar-right'>
          <i class='fa fa-arrow-up'></i> {{ state.state.uploadSpeed | bytes:2 }}/s
        </div>

        <div class='navbar-text navbar-right'>
          <i class='fa fa-arrow-down'></i> {{ state.state.downloadSpeed | bytes:2 }}/s
        </div>

        <div class='navbar-text navbar-right'>
          <i class='fa fa-arrows-h'></i> {{ state.state.connectionsCount }}
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

