<div class="col-md-6" style="margin: 0 auto; float: none;">
<h1>Login</h1>
<hr />

<div class="alert alert-danger" role="alert" *ngIf='failed'>
  <span>Failed to Connect to <strong>{{ failedServer }}</strong></span>
  <span *ngIf='err'>with error <strong>{{ err }}</strong></span>
</div>

<!-- TODO: Input Validation -->
<form (ngSubmit)="connect()">
    <div class="form-group">
      <label for="serverURL">Server URL</label>
      <input
        class='form-control'
        type="text"
        placeholder="http://localhost:8112/json"
        [(ngModel)]='serverURL'
        name='url'
        required/>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        class='form-control'
        type="password"
        placeholder="deluge"
        [(ngModel)]='password'
        name='password'
        required/>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <span style='margin-left: 0.35em'>
      <i *ngIf='pending' class="fa fa-circle-o-notch fa-spin" style="margin: 0.35em"></i>
    </span>
</form>
</div>

