<div class='loading'>
  <div class='rain'>
    <div class='drop'></div>
    <div class='drop'></div>
    <div class='drop'></div>
    <div class='drop'></div>
    <div class='drop'></div>
    <div class='drop'></div>

    <div class='drop'></div>
    <div class='drop'></div>
    <div class='drop'></div>
    <div class='drop'></div>
    <div class='drop'></div>
    <div class='drop'></div>

    <div class='drop'></div>
    <div class='drop'></div>
    <div class='drop'></div>
    <div class='drop'></div>
    <div class='drop'></div>
    <div class='drop'></div>
  </div>
  <h1>Loading...</h1>
</div>

