<h3 style='margin-top:0;'>Download Torrent</h3>

<div class="input-group">
  <input type="text" class="form-control" [(ngModel)]='url' placeholder="link to .torrent or magnet" />
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" (click)='getTorrent()'>Get Information</button>
  </span>
</div>

<div *ngIf='hash && config' class="clearfix" style='margin-bottom: 1em'>
  <div class='row'>
    <div class='col-md-6'>
      <div class="panel panel-default" style='margin-top:2em'>
        <div class="panel-heading">
          <h3 class="panel-title">Torrent Information <small style='color: #777'>({{ hash }})</small></h3>
        </div>
        <ul class='list-group' style='
          text-overflow: elipsis;
          overflow: hidden;
          white-space:nowrap;'>
          <li class='list-group-item'>{{ name }}</li>
        </ul>
        <div *ngIf='tree || file' class="panel-body">
          <tree-view *ngIf='tree' [tree]='tree'></tree-view>
          <file-view *ngIf='file' [element]='file'></file-view>
        </div>
      </div>
    </div>

    <div class='col-md-6'>
    <div class="panel panel-default" style='margin-top:2em'>
      <div class="panel-heading">
        <h3 class="panel-title">Options</h3>
      </div>

      <div class="panel-body">
        <div class="form-group">
          <label for="maxDownloadSpeed">Maximum Download Speed</label>
          <input type="number"
                 min='-1'
                 class="form-control"
                 id="maxDownloadSpeed"
                 [(ngModel)]='config.maximumDownloadSpeedPerTorrent'/>
        </div>

        <div class="form-group">
          <label for="maxUploadSpeed">Maximum Upload Speed</label>
          <input type="number"
                 min="-1"
                 class="form-control"
                 id="maxUploadSpeed"
                 [(ngModel)]='config.maximumUploadSpeedPerTorrent'/>
        </div>

        <div class="form-group">
          <label for="maxConnections">Maximum Connections</label>
          <input type="number"
                 min="-1"
                 class="form-control"
                 id="maxConnections"
                 [(ngModel)]='config.maximumConnectionsPerTorrent'/>
        </div>

        <div class="form-group">
          <label for="maxUploadSlots">Maximum Upload Slots</label>
          <input type="number"
                 min="-1"
                 class="form-control"
                 id="maxUploadSlots"
                 [(ngModel)]='config.maximumUploadSlotsPerTorrent'/>
        </div>

        <div class="form-group">
          <label for="downloadLocation">Download Location</label>
          <input type="text"
                 class="form-control"
                 id="downloadLocation"
                 [(ngModel)]='config.downloadLocation'/>
        </div>

        <div class="form-group">
          <label for="moveCompletedTorrents">Move Completed Location</label>
          <div class='input-group'>
            <input type="text"
                   class="form-control"
                   id="moveCompletedTorrents"
                   [(ngModel)]='config.moveCompletedTorrents'
                   [disabled]='!config.moveCompleted'/>
            <span class='input-group-addon'>
              <input type='checkbox' [(ngModel)]='config.moveCompleted' />
            </span>
          </div>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]='config.addPaused' />
            Add Paused
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]='config.sequentialDownload' />
            Download Sequentially
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]='config.compactAllocation' />
            Compact Allocation
          </label>
        </div>

      </div>
    </div>
    </div>
  </div>
  <button class="btn btn-default pull-right" type="button" (click)='addTorrent()'>Continue</button>
</div>

