<h3 style='margin-top:0;'>Download Torrent</h3>

<div class="input-group">
  <input type="text"
         class="form-control"
         (drop)='getTorrentFromFile($event)'
         [(ngModel)]='url'
         placeholder="magnet link or link to .torrent file"
         [disabled]='formDisabled' />
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" (click)='getTorrent()'>Import Remote</button>
    <label class='btn btn-default'>
      <input type='file' style='display:none' (change)='getTorrentFromFile($event)' />
      Import Local
    </label>
  </span>
</div>

<div *ngIf='torrentRequest && config' class="clearfix" style='margin-bottom: 1em'>
  <div class='row'>
    <div class='col-md-6'>
      <div class="panel panel-default" style='margin-top:2em'>
        <div class="panel-heading">
          <h3 class="panel-title">Torrent Information <small style='color: #777'>({{ torrentRequest.hash }})</small></h3>
        </div>
        <ul class='list-group' style='
          text-overflow: elipsis;
          overflow: hidden;
          white-space:nowrap;'>
          <li class='list-group-item'>{{ torrentRequest.name }}</li>
        </ul>
        <div class="panel-body" *ngIf='torrentRequest.tree'>
          <tree-view *ngIf='torrentRequest.tree.directories' [tree]='torrentRequest.tree'></tree-view>
          <file-view *ngIf='!torrentRequest.tree.directories' [element]='torrentRequest.tree'></file-view>
        </div>
      </div>
    </div>

    <div class='col-md-6'>
    <div class="panel panel-default" style='margin-top:2em'>
      <div class="panel-heading">
        <h3 class="panel-title">Options</h3>
      </div>

      <div class="panel-body">
        <config-view [config]='config'></config-view>
      </div>
    </div>
    </div>
  </div>
  <button class="btn btn-default pull-right" type="button" (click)='addTorrent()'>Continue</button>
</div>

