<div class="col-md-6" style="margin: 0 auto; float: none;">
<!-- TODO: Input Validation -->
<form (ngSubmit)="connect()">
  <h1>Login</h1>
  <hr />
    <div class="form-group has-feedback">
      <label for="serverURL">Server URL</label>
      <input
        class='form-control'
        type="text"
        placeholder="http://localhost:8112"
        [(ngModel)]='serverURL'
        required/>
      <!--<span class="form-control-feedback"><i class="fa fa-spinner
          fa-spin"></i></span>-->
    </div>

    <div class="form-group has-feedback">
      <label for="password">Password</label>
      <input
        class='form-control'
        type="password"
        placeholder="deluge"
        [(ngModel)]='password'
        required/>
      <!--<span class="form-control-feedback"><i class="fa fa-spinner
          fa-spin"></i></span>-->
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
