<div *ngIf='ds.currentTorrent && ds.currentTorrent.name'>

<div class="row" style='margin-bottom:1em'>
  <p class="col-md-11">
    {{ ds.currentTorrent.name }}
    <i *ngIf='ds.currentTorrent.priv' class="fa fa-lock text-muted"></i>
  </p>
  <p class="col-md-1 text-right" *ngIf='ds.currentTorrent.label'>
    <span class="label label-default" style='display:block'>{{ ds.currentTorrent.label }}</span>
  </p>
</div>

<progress-bar
  [active]='
  (
    ds.currentTorrent.state == "Downloading" && ds.currentTorrent.downloadSpeed > 0
  ) || (
    ds.currentTorrent.state == "Seeding" && ds.currentTorrent.uploadSpeed > 0
  )'
  [color]='color'
  [percentage]='ds.currentTorrent.progress'
  [reverse]='
    ds.currentTorrent.state == "Seeding" && ds.currentTorrent.uploadSpeed > 0
  '></progress-bar>

<ui-tabs listClasses='nav nav-tabs nav-justified'>
  <template ui-pane title='General' active='true'>
    <div style='margin:1em 0'>
      <div class="row">
        <div class="col-md-4 clearfix">
          <div class="pull-left text-muted">Time Active:</div>
          <div class="pull-right">{{ ds.currentTorrent.timeActive | duration:'s' }}</div>
        </div>

        <div class="col-md-4 clearfix">
          <div class="pull-left text-muted">Remaining:</div>
          <div class="pull-right">{{ ds.currentTorrent.timeRemaining | duration:'s' }}</div>
        </div>

        <div class="col-md-4 clearfix">
          <div class="pull-left text-muted">Added:</div>
          <div class="pull-right">{{ ds.currentTorrent.timeAdded * 1000 | date:"EEEE, MMMM d, y hh" }}</div>
        </div>

        <div class="col-md-4 clearfix">
          <div class="pull-left text-muted">Downloaded:</div>
          <div class="pull-right">{{ ds.currentTorrent.totalDownloaded | bytes:2 }}</div>
        </div>

        <div class="col-md-4 clearfix">
          <div class="pull-left text-muted">Uploaded:</div>
          <div class="pull-right">{{ ds.currentTorrent.totalUploaded | bytes:2 }}</div>
        </div>

        <div class="col-md-4 clearfix">
          <div class="pull-left text-muted">Ratio:</div>
          <div class="pull-right">{{ ds.currentTorrent.ratio | number:'1.0-2' }}</div>
        </div>

        <div class="col-md-4 clearfix">
          <div class="pull-left text-muted">Download Speed:</div>
          <div class="pull-right">{{ ds.currentTorrent.downloadSpeed | bytes:2 }}/s</div>
        </div>

        <div class="col-md-4 clearfix">
          <div class="pull-left text-muted">Upload Speed:</div>
          <div class="pull-right">{{ ds.currentTorrent.uploadSpeed | bytes:2 }}/s</div>
        </div>

        <div class="col-md-4 clearfix">
          <div class="pull-left text-muted">Peers:</div>
          <div class="pull-right">{{ ds.currentTorrent.peersCount }}</div>
        </div>

        <div class="col-md-4 clearfix">
          <div class="pull-left text-muted">Size:</div>
          <div class="pull-right">{{ ds.currentTorrent.size | bytes:2 }}</div>
        </div>
      </div>

      <div class='clearfix' *ngIf='ds.currentTorrent.comment'>
        <hr />
        <div class="pull-left text-muted">Comment:</div>
        <div class='pull-right'>{{ ds.currentTorrent.comment }}</div>
      </div>
    </div>
  </template>

  <template ui-pane title='Connections'>
    <!-- TODO: Tracker Status -->
    <!-- TODO: Verified -->
    <!-- TODO: Updating -->
    <!-- TODO: Send Stats -->
    <div *ngIf='ds.currentTorrent.trackers.values.length > 0'>
      <h3>Trackers <small>({{ ds.currentTorrent.trackers.values.length }})</small></h3>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th class='fit-content'>Tier</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='#t of ds.currentTorrent.trackers.values'>
            <td>{{ t.tier }}</td>
            <td>{{ t.url }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf='ds.currentTorrent.peers.values.length > 0'>
      <h3>Peers <small>({{ ds.currentTorrent.peers.values.length }})</small></h3>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Country</th>
            <th>IP</th>
            <th>Download Speed</th>
            <th>Upload Speed</th>
            <th>Client</th>
            <th>Progress</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='#p of ds.currentTorrent.peers.values'>
            <td>{{ p.country }}</td>
            <td>{{ p.ip }}</td>
            <td>{{ p.downloadSpeed | bytes:2 }}/s</td>
            <td>{{ p.uploadSpeed | bytes:2 }}/s</td>
            <td>{{ p.client }}</td>
            <td>{{ p.progress * 100 | number:'1.0-2' }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>

  <template ui-pane title='Files'>
    <!-- TODO: Collapse -->
    <!-- TODO: Download Path -->
    <!-- TODO: Adjustable Priority -->
    <h3>Files <small>({{ ds.currentTorrent.files.length }})</small></h3>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Path</th>
          <th>Size</th>
          <th>Progress</th>
          <th>Priority</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='#f of ds.currentTorrent.files'>
          <td>{{ f.path }}</td>
          <td>{{ f.len | bytes:2 }}</td>
          <td>{{ f.progress * 100 | number:'1.0-2' }}%</td>
          <td>{{ f.priority }}</td>
        </tr>
      </tbody>
    </table>
  </template>

  <template ui-pane title='Options'>
    <h3>Options</h3>

    <checkbox-view
      [(model)]='ds.currentTorrent.configuration.managed'
      title='Managed'></checkbox-view>

    <speedinput-view
      [(model)]='ds.currentTorrent.configuration.maximumDownloadSpeed'
      title='Maximum Download Speed'></speedinput-view>

    <speedinput-view
      [(model)]='ds.currentTorrent.configuration.maximumUploadSpeed'
      title='Maximum Upload Speed'></speedinput-view>

    <numberinput-view
      [(model)]='ds.currentTorrent.configuration.maximumConnections'
      title='Maximum Connections'></numberinput-view>

    <numberinput-view
      [(model)]='ds.currentTorrent.configuration.maximumUploadSlots'
      title='Maximum Upload Slots'></numberinput-view>

    <numberinput-view
      [(model)]='ds.currentTorrent.configuration.stopRatio'
      [(checkbox)]='ds.currentTorrent.configuration.stopAtRatio'
      addon='true'
      title='Stop at Ratio'></numberinput-view>

    <checkbox-view
      [(model)]='ds.currentTorrent.configuration.removeAtRatio'
      [disabled]='!ds.currentTorrent.configuration.stopAtRatio'
      title='Remove at Ratio'></checkbox-view>

    <textinput-view
      [(model)]='ds.currentTorrent.configuration.completedPath'
      [(checkbox)]='ds.currentTorrent.configuration.moveCompleted'
      addon='true'
      title='Move on Completion'></textinput-view>

    <checkbox-view
      [(model)]='ds.currentTorrent.configuration.prioritized'
      title='Prioritize First and Last Pieces'></checkbox-view>

    <button
      class='btn btn-default pull-right'
      (click)='ds.updateTorrentSettings()'>Submit</button>
  </template>
</ui-tabs>
</div>

