<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['Torrents']">
        <img src="assets/deluge.svg" style="
          height: 100%;
          display :inline;
          vertical-align: bottom;" />
        Deluge
      </a>
    </div>
    <div class='collapse navbar-collapse' id='navigation' *ngIf='ds.authenticated'>
      <ul class='navbar-nav nav'>
        <li [class.active]='isCurrentRoute(["Torrents"])'>
          <a [routerLink]="['Torrents']">Torrents</a>
        </li>
        <li [class.active]='isCurrentRoute(["AddTorrent"])'>
          <a [routerLink]="['AddTorrent']">Add Torrent</a>
        </li>
        <li [class.active]='isCurrentRoute(["Configuration"])'>
          <a [routerLink]="['Configuration']">Configuration</a>
        </li>
      </ul>

      <div *ngIf='ds.state.connected'>
        <div class='navbar-text navbar-right'>
          <i class='fa fa-arrow-up'></i> {{ ds.state.uploadSpeed | bytes:2 }}/s
        </div>

        <div class='navbar-text navbar-right'>
          <i class='fa fa-arrow-down'></i> {{ ds.state.downloadSpeed | bytes:2 }}/s
        </div>

        <div class='navbar-text navbar-right'>
          <i class='fa fa-arrows-h'></i> {{ ds.state.connectionsCount }}
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

