.state .fa.fa-arrow-up {
  color: #5cb85c;
}

.state .fa.fa-arrow-down {
  color: #337ab7;
}

.state .fa.fa-circle-o {
  color: #f0ad4e;
}

.state .fa.fa-exclamation {
  color: #d9534f;
}

.state .fa.fa-pause {
  color: #999;
}

