<div style='margin-bottom:1em'>
  <h3>Torrents <small>({{ ds.state.torrents.values.length }})</small></h3>
</div>

<div class="form-group">
  <input [(ngModel)]='filter'
         placeholder="Search... (try filtering with label: music syntax, tracker and state also supported)"
         type="text"
         class="form-control" />
</div>

<div class='flex-table' style='margin-bottom:5em'>
  <div class='flex-table-row'>
    <div class='flex-table-item flex-table-fit'><i class='fa fa-fw'></i></div>
    <div class='flex-table-item'>Name</div>
    <!--
    <div class='flex-table-item flex-table-looser'>Download Speed</div>
    <div class='flex-table-item flex-table-looser'>Upload Speed</div>
    -->
    <div class='flex-table-item flex-table-tight'>Progress</div>
    <div class='flex-table-item flex-table-tight'>Ratio</div>
  </div>

  <label style='font-weight:normal;margin:0' *ngFor='#torrent of ds.state.torrents.values | object:filter'>
    <input type='checkbox' style='display: none' [(ngModel)]='torrent.checked' />
    <div class='flex-table-row'>
      <div class='flex-table-item state flex-table-fit center' [ngSwitch]='torrent.state'>
        <i *ngSwitchWhen='"Seeding"' class='fa fa-arrow-up fa-fw'></i>
        <i *ngSwitchWhen='"Downloading"' class='fa fa-arrow-down fa-fw'></i>
        <i *ngSwitchWhen='"Paused"' class='fa fa-pause fa-fw'></i>
        <i *ngSwitchWhen='"Error"' class='fa fa-exclamation fa-fw'></i>
        <i *ngSwitchWhen='"Queued"' class='fa fa-circle-o fa-fw'></i>
      </div>
      <div class='flex-table-item flex-table-free'><a [routerLink]='["TorrentDetail", {hash: torrent.hash}]'>{{ torrent.name }}</a></div>
      <!--
      <div class='flex-table-item flex-table-looser'>{{ torrent.downloadSpeed | bytes:2 }}/s</div>
      <div class='flex-table-item flex-table-looser'>{{ torrent.uploadSpeed | bytes:2 }}/s</div>
      -->
      <div class='flex-table-item flex-table-tight center'>{{ torrent.progress | number:'1.0-2' }}%</div>
      <div class='flex-table-item flex-table-tight center'>{{ torrent.ratio | number:'1.0-2' }}</div>
    </div>
  </label>
</div>

<!-- TODO: Add Label -->
<nav *ngIf='getSelected().length > 0' class='navbar navbar-default navbar-fixed-bottom'>
  <div class='container'>
    <div class="navbar-text">
      {{ getSelected().length }} Selected
      <a (click)='unselect()' href='javascript:false'>
        <i class='fa fa-ban'></i>
      </a>
    </div>
    <div class='navbar-btn navbar-right btn-group dropup'>
      <button class='btn btn-default' (click)='ds.pause(getSelected())'>
        <i class='fa fa-pause'></i> Pause
      </button>

      <button class='btn btn-default' (click)='ds.resume(getSelected())'>
        <i class='fa fa-play'></i> Resume
      </button>

      <button class='btn btn-default' (click)='ds.remove(getSelected(), true)'>
        <i class='fa fa-times'></i> Remove
      </button>
      <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' style='height:34px'>
        <span class='caret'></span>
      </button>
      <ul class='dropdown-menu'>
        <li><a (click)='ds.remove(getSelected(), false)' style='cursor:pointer'>torrent only</a></li>
      </ul>
    </div>
  </div>
</nav>
