<div style='margin-bottom:1em'>
  <h3>Torrents <small>({{ ds.state.torrents.values.length }})</small></h3>
</div>

<div class="form-group">
  <input [(ngModel)]='filter'
         placeholder="Search... (try filtering with label: music syntax, tracker and state also supported)"
         type="text"
         class="form-control" />
</div>

<div class='flex-table' style='margin-bottom:5em'>
  <div class='flex-table-row'>
    <div
      class='flex-table-item flex-table-fit center'
      (click)='sort("", $event)'
      [class.clickable]='descending != undefined'>
      <i class='fa fa-chevron-down fa-fw'
         [class.rotate-180]='!descending'
         [class.h]='descending == undefined'
         style='transition: 0.3s transform'></i>
    </div>

    <div class='flex-table-item'
         (click)='sort("name", $event)'>Name</div>
    <!--
    <div class='flex-table-item flex-table-looser'>Download Speed</div>
    <div class='flex-table-item flex-table-looser'>Upload Speed</div>
    -->
    <div class='flex-table-item flex-table-tight'
         (click)='sort("progress", $event)'>Progress</div>

    <div class='flex-table-item flex-table-tight'
         (click)='sort("ratio", $event)'>Ratio</div>
  </div>

  <label
    style='font-weight:normal;margin:0'
    *ngFor='#torrent of ds.state.torrents.values | object:filter:sortBy:descending'>
    <input type='checkbox' style='display: none' [(ngModel)]='torrent.checked' />
    <div class='flex-table-row'>
      <div class='flex-table-item state flex-table-fit center' [ngSwitch]='torrent.state'>
        <i *ngSwitchWhen='"Seeding"' class='fa fa-arrow-up fa-fw'></i>
        <i *ngSwitchWhen='"Downloading"' class='fa fa-arrow-down fa-fw'></i>
        <i *ngSwitchWhen='"Paused"' class='fa fa-pause fa-fw'></i>
        <i *ngSwitchWhen='"Error"' class='fa fa-exclamation fa-fw'></i>
        <i *ngSwitchWhen='"Queued"' class='fa fa-circle-o fa-fw'></i>
      </div>
      <div class='flex-table-item flex-table-free'><a [routerLink]='["TorrentDetail", {hash: torrent.hash}]'>{{ torrent.name }}</a></div>
      <!--
      <div class='flex-table-item flex-table-looser'>{{ torrent.downloadSpeed | bytes:2 }}/s</div>
      <div class='flex-table-item flex-table-looser'>{{ torrent.uploadSpeed | bytes:2 }}/s</div>
      -->
      <div class='flex-table-item flex-table-tight center'>{{ torrent.progress | number:'1.0-2' }}%</div>
      <div class='flex-table-item flex-table-tight center'>{{ torrent.ratio | number:'1.0-2' }}</div>
    </div>
  </label>
</div>

<nav *ngIf='getSelected().length > 0' class='navbar navbar-default navbar-fixed-bottom'>
  <div class='container'>
    <div class="navbar-text">
      <a (click)='unselect()' href='javascript:false' style='padding:.75rem'>
        <i class='fa fa-ban fa-fw'></i>
      </a>
      {{ getSelected().length }} Selected
    </div>

    <div class='navbar-btn navbar-right btn-toolbar'>
      <!--
      <div class='btn-group dropup'>
        <button class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
          <i class='fa fa-tags'></i> Add Label
          <i class='fa fa-caret-up'></i>
        </button>

        <ul class='dropdown-menu'>
          <li *ngFor='#label of ds.state.labels'><a>{{ label }}</a></li>
          <li class="divider"></li>
          <li><a>Create New</a></li>
        </ul>
      </div>
      -->

      <button class='btn btn-default' (click)='ds.pause(getSelected())'>
        <i class='fa fa-pause'></i> Pause
      </button>
      <button class='btn btn-default' (click)='ds.resume(getSelected())'>
        <i class='fa fa-play'></i> Resume
      </button>

      <div class='btn-group dropup'>
        <button class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
          <i class='fa fa-trash'></i> Remove
          <i class='fa fa-caret-up'></i>
        </button>
        <ul class='dropdown-menu'>
          <li>
            <a
              (click)='ds.remove(getSelected(), false)'
              style='cursor:pointer'>Keep Files</a>
          </li>
          <li>
            <a
              (click)='ds.remove(getSelected(), true)'
              style='cursor:pointer'>Discard Files</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
