<div class="form-group">
  <label for="maxDownloadSpeed">Maximum Download Speed</label>
  <input type="number"
         min='-1'
         class="form-control"
         id="maxDownloadSpeed"
         [(ngModel)]='config.maximumDownloadSpeedPerTorrent'/>
</div>

<div class="form-group">
  <label for="maxUploadSpeed">Maximum Upload Speed</label>
  <input type="number"
         min="-1"
         class="form-control"
         id="maxUploadSpeed"
         [(ngModel)]='config.maximumUploadSpeedPerTorrent'/>
</div>

<div class="form-group">
  <label for="maxConnections">Maximum Connections</label>
  <input type="number"
         min="-1"
         class="form-control"
         id="maxConnections"
         [(ngModel)]='config.maximumConnectionsPerTorrent'/>
</div>

<div class="form-group">
  <label for="maxUploadSlots">Maximum Upload Slots</label>
  <input type="number"
         min="-1"
         class="form-control"
         id="maxUploadSlots"
         [(ngModel)]='config.maximumUploadSlotsPerTorrent'/>
</div>

<div class="form-group">
  <label for="downloadLocation">Download Location</label>
  <input type="text"
         class="form-control"
         id="downloadLocation"
         [(ngModel)]='config.downloadLocation'/>
</div>

<div class="form-group">
  <label for="moveCompletedTorrents">Move Completed Location</label>
  <div class='input-group'>
    <input type="text"
           class="form-control"
           id="moveCompletedTorrents"
           [(ngModel)]='config.moveCompletedTorrents'
           [disabled]='!config.moveCompleted'/>
    <span class='input-group-addon'>
      <input type='checkbox' [(ngModel)]='config.moveCompleted' />
    </span>
  </div>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" [(ngModel)]='config.addPaused' />
    Add Paused
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" [(ngModel)]='config.sequentialDownload' />
    Download Sequentially
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" [(ngModel)]='config.compactAllocation' />
    Compact Allocation
  </label>
</div>

